body,
html,
main {
    font-family: myFont;
    height: 100%
}
ul,li {
	list-style: none;
}
@font-face {
    font-family: myFont;
    src: url('../fonts/Futura-Book.otf');
}

@font-face {
    font-family: myFontL;
    src: url('../fonts/Futura-Light.otf');
}

@font-face {
    font-family: myFontB;
    src: url('../fonts/BebasNeue.ttf');
}


/* scrolling-bg */

.cd-fixed-bg {
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

.cd-fixed-bg.cd-bg-1 {
    background-image: url("../images/lets-chat.jpg");
}

.cd-color-1 {
    background-color: #fff;
}

.cd-color-2 {
    background-color: #fff;
}

.cd-fixed-bg.cd-bg-2 {
    background-color: #fff;
}

.cd-color-3 {
    background-color: #000;
}

.cd-fixed-bg.cd-bg-3 {
    background-image: url("../images/advisor0716.jpg");
}


.puplic-title {
    font-size: 32px;
    color: #FC3D39;
    margin-bottom: 30px;
    border-left: 4px solid #FC3D39;
    padding: 0 20px;
}

.puplic-text {
    font-size: 24px;
}


/* head */

.clearfloat {
    clear: both;
}

/*main {*/
  /*position: relative;*/
/*}*/

.head {
    height: 80px;
    width: 100%;
    z-index: 999;
    padding: 0 50px;
    border: none;
    position: fixed;
    top: 0;
    left: 0;
}


.head .nav {
    margin: 0 auto;
    text-align: center;
}

.head ul {
    margin: 0;
    padding: 0;
}

.head li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 14px;
}

.head a {
    text-decoration: none;
    color: #fff;
    line-height: 80px;
}

.head li a:hover {
    color: #FC3D39;
}

.head li a:hover .header-img {
    content: url('../images/icon/plan-red.png');
}

.head .logo-img {
    float: left;
    height: 47px;
    margin-top: 16px;
}

.head .plane {
    float: right;
}

.head .header-img {
    width: 32px;
}


/* 公告 */

.board .board-content {
    background-color: #FC3D39;
    color: #fff;
    padding: 0 100px;
}

.board .board-title {
    font-size: 22px;
    display: inline-block;
    line-height: 90px;
    margin-right: 140px;
}

.board .board-text {
    font-size: 16px;
    display: inline-block;
}

.board .board-btn {
    font-size: 16px;
    display: inline-block;
    background-color: #fff;
    color: #FC3D39;
    float: right;
    line-height: 40px;
    padding: 0 20px;
    margin-top: 25px;
}

.board .board-btn .btn-icon {
    width: 25px;
    margin-left: 15px;
    margin-top: -5px;
}


.head-grid {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

.head-grid a {
    color: #000;
}

.head-grid .navbtn {
    padding: 20px 20px 40px;
}

.head-grid .logo img {
    float: left;
    width: 90px;
}

.head-grid .menu img {
    float: right;
    width: 32px;
}

.head-grid .headerFr {
    margin-top: 8px;
    font-size: 16px;
    height: 0px;
    overflow: hidden;
}

.head-grid .headerFr ul {
    line-height: 40px;
}

.head-grid .headerFr ul li {
    display: block;
}

.head-grid .headerFr ul li a {
    font-size: 16px;
    display: inline-block;
    padding: 0 30px;
    text-decoration: none;
}

.head-grid .headerFr ul li a:hover,
.header .navProduct a:hover {
    color: #FC3D39;
}

.head-grid .header-img {
    width: 35px;
}

.head-grid .board-grid {
    background-color: #FC3D39;
    color: #fff;
    text-align: center;
}

.head-grid .title {
    line-height: 35px;
    font-size: 16px;
    background-color: #FC3D39;
    text-align: center;
    color: #fff;
}

.head-grid .board-grid .content {
    font-size: 16px;
    padding: 0 0 20px 0;
    display: none;
}

.head-grid .board-grid .board-btn {
    background-color: #fff;
    width: 160px;
    color: #FC3D39;
    margin: 0 auto;
    line-height: 36px;
}

.head-grid .board-grid .btn-icon {
    width: 25px;
    margin-left: 10px;
    margin-top: -5px;
}

.head-grid .board-grid .close-btn {
    width: 22px;
    position: absolute;
    top: 5px;
    right: 5px;
}



/* banner */

.banner {
    background: url('../images/banner717.jpg')  no-repeat top center;
    background-size: cover;
    text-align: center;
    position: relative;
    width: 100%;
    height: 1350px;
    position: relative;
}

.banner:after {
    content: '';
    display: block;
    padding: 6.8%;
}

.banner .banner-title {
    color: #fff;
    font-size: 70px;
    padding-top: 176px;
    font-family: myFontB;
}

.banner .banner-title p {
    font-size: 14px;
    font-family: myFont;
    font-weight: bold;
    padding: 10px 0;
}
.banner .banner-title span {
	letter-spacing:12px;
}

.banner .banner-title p.banner-text-grid {
    display: none;
}

.banner .banner-btn a {
    color: #FC3D39;
    background-color: #fff;
    font-size: 20px;
    line-height: 48px;
    text-decoration: none;
    display: inline-block;
    border: 4px solid #fff;
    margin-top: 68px;
    padding: 0 50px;
    width: 222px;
}

.banner .banner-btn {
    display: inline-block;
    margin: 0 10px;
}

.banner .banner-btn a:hover {
    color: #fff;
    border: 4px solid #FC3D39;
    background-color: #FC3D39;
}


.banner .banner_footer_icon {
	background-color: transparent;
	padding-top: 65px;
}
.banner .banner_footer_icon .container {
	margin: 0 auto;
}
.banner .banner_footer_icon ul {
	height: 70px;
	text-align: center;
  	margin: 0 auto;
  	padding-left: 50px;
}
.banner .banner_footer_icon ul li {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-right: 40px;
}
.banner .banner_footer_icon ul li a img {
	display: block;
	width: 40px;
	height: 40px;
    transition: all 1s;
}
.banner .banner_footer_icon ul li:hover a img {
    transform: scale(1.4);
}

.divide-banner {
    width: 100%;
}
.divide-banner .divide-banner-container {
    padding: 0 0;
}
.divide-banner .divide-banner-div {
    height: 180px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.divide-banner .divide-banner-div .divide-banner-img {
    display: block;
    width: 100%;
    position: absolute;
    top: -50%;
    left: 0;
}






/* 视频video */

.banner .video {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 65%;
    left: 0;
    z-index: 99;
}
/*.video .container {*/
    /*height: 100%;*/
    /*margin: 0 auto;*/
/*}*/
.video .container video {
    height: 100%;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -340px;
    z-index: 999;

}
.banner .video h3 {
    color: #fff;
    font-size: 32px;
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -150px;
}
.banner .video .line {
    display: block;
    border-top: 4px solid #fff;
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    z-index: 1;
}




.cd-bg-1 .cd-container {
    display: flex;
    padding: 150px 100px;
}

.banner-2 .banner-title {
    color: #fff;
    font-size: 70px;
    font-family: myFontB;
}

.banner-2 .banner-title p {
    font-size: 16px;
    font-family: myFont;
    font-weight: bold;
    padding-bottom: 50px;
}

.banner-2 .banner-btn a {
    color: #FC3D39;
    background-color: #fff;
    font-size: 20px;
    line-height: 48px;
    text-decoration: none;
    display: inline-block;
    border: 4px solid #fff;
    margin-top: 50px;
    padding: 0 50px;
    width: 222px;
}

.banner-2 .banner-btn a:hover {
    color: #fff;
    border: 4px solid #FC3D39;
    background-color: #FC3D39;
}






/* about */

.rotate-title {
    color: #FC3D39;
    border-left: 4px solid #FC3D39;
    font-size: 42px;
    padding: 0 20px;
    transform: rotate(90deg);
    display: inline-block;
    line-height: 37px;
    position: relative;
    top: 150px;
    left: -152px;
    width: 380px;
}

.index-title {
    display: none;
}

#about,
#about2 {
    padding: 50px 100px;
}

#about .text {
    font-size: 18px;
    font-family: myFont;
}

#about .text p {
    margin-bottom: 25px;
    color: #000;
}

#about .about-img {
    width: 380px;
    height: 497px;
}



/* block chain */

#block {
    padding: 50px 100px;
}

#block .block-chain {
    background: url('../images/block-chain.png') no-repeat top center;
    background-size: 100% auto;
}

#block .block-chain:after {
    content: '';
    display: block;
    padding: 27.2%;
}



/* team */

#team {
    padding: 50px 100px;
    background-color: #fff;
}

#team .team-img {
    width: 170px;
    height: 170px;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}
#team .team-img:hover {
	-webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
}

.link-img {
    width: 24px;
    margin-left: 16px;
}

.item {
    margin-bottom: 70px;
    font-size: 12px;
}

.team-item {
    position: relative;
    padding-bottom: 20px;
    color: #000;
}

.name {
    font-size: 22px;
    font-family: myFontB;
}

.position {
    margin-bottom: 16px;
    font-family: myFontB;
    font-size: 18px;
}

.row .introduce {
    font-family: myFont;
    height: 100px;
    font-size: 12px;
}





/* advisor */

#advisor {
    padding: 50px 100px 0;
}

#advisor .advisor-img {
    width: 215px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
#advisor .advisor-img:hover {
	-webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
}

#advisor .team-inner {
    margin: 20px 0 50px;
}

#advisor .introduce {
    height: 50px;
}


/*  networks */
.networks {
    padding: 50px 0;
    margin: 0 0;
}

.networks .title {
    height: 100%;
}
.networks .title h3 {
    font-size: 42px;
    color: #e84140;
    transform: rotate(90deg);
    padding: 0 20px;
    border-left: 4px solid #FC3D39;
    line-height: 37px;
    position: relative;
    top: 145px;
    left: 0;
    display: inline-block;
}
.networks .icon-content {
    width: 100%;
    padding-left: 13%;
}
.networks p {
    font-family: myFont;
    font-size: 18px;
    text-align: center;
    height: 43px;
    display: block;
    width: 90%;
  margin-bottom: 30px;
  padding: 0 35px;
}
.networks .icon-pc {
    width: 100%;
    padding: 0;
}
.networks .icon-pc .icon {
    display: inline-block;
    width: 100%;
    padding: 30px 0;
}
.networks .icon-pc .icon li {
    float: left;
    padding: 0 75px;
    width: 20%;
    display: inline-block;
}

.networks .icon-pc .icon li img {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}


/* media */

#media {
    padding: 50px 100px;
}

#media .media-title {
    color: #000;
    font-size: 16px;
    line-height: 60px;
}

#media a {
    text-decoration: none;
}

#media .media-item {
    float: left;
    width: 50%;
    padding: 0 13px;
}

#media .inner {
    box-shadow: 5px 5px 5px #a1a1a1;
    overflow: hidden;
}

#media .media-img {
    width: 37.6vw;
    height: 18.75vw;
}

#media .media-logo .logo-img {
    width: 7vw;
    margin-bottom: 20px;
}



/* footer */

.footer {
    padding: 50px 0;
    text-align: center;
    background: url("../images/footer-banner0716.jpg") no-repeat center;
    color: #fff;
}

.footer-logo {
    width: 253px;
}

.footer .download {
    display: block;
    width: 476px;
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    border: 2px solid #fff;
    padding: 20px 40px;
    margin: 40px auto 40px;
}
.footer .download:hover {
    border-color: #e84140;
    color: #e84140;
}

.footer .icon {
    margin-top: 50px;
}

.footer .other-img {
    width: 50px;
    margin: 0 20px;
}


/* 模态框 */

.modal-open {
  overflow: hidden
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%)
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0)
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px
}

.modal-content {
  position: relative;
  background-color: transparent;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000
}

.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0
}

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5
}

.modal-header {
  min-height: 16.43px;
  padding: 60px 15px 15px;
  border-bottom: none;
}

.modal-header .close {
  margin-top: -2px;
  opacity: 1;
  background: transparent;
}
.modal-header .close .icon_close {
  display: block;
  width: 40px;
  height: 40px;
  background: url("../images/icon/close.png") no-repeat center;
  background-size: cover;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
  font-size: 32px;
  font-family: myFont;
  color: #199FD6;
}

.modal-body {
  position: relative;
  padding: 10px 0;
}

.modal-footer {
  padding: 15px;
  text-align: center;
  border-top: none;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto
  }

  .modal-sm {
    width: 300px
  }
}

@media (min-width: 992px) {
  .modal-lg {
    width: 900px
  }
}















/* 响应式 移动端*/

  @media only screen and (min-width: 375px) and (max-width: 768px) {

    .row{margin:0;}
    .col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{padding:0;}
    /* Fuck 15px for iPhone Over */


    .rotate-title,
    .puplic-title {
      display: none;
    }

    .puplic-text {
      font-size: 16px;
    }

    .index-title {
      display: block;
      font-size: 32px;
      color: #FC3D39;
      margin-bottom: 30px;
    }
    html,
    body,
    main {
      width: 100%;
        position: relative;
    }

    .head {
      display: none;
    }


    .head-grid {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
        background: #fff;
    }

  .head-grid .navbtn .logo {
      height: 100%;
  }

      .head-grid .headerFr {
          border-bottom: 1px solid #e4e4e4;
      }



    .video-mobile {
      width: 100%;
    }
    .video-mobile .container {
      height: 100%;
      padding: 0;
    }
    .video-mobile .container video {
      width: 100%;
      height: 100%;
      position: static;
    }

      #about,
    #about2,
    #block,
    #team,
    #advisor,
    #media {
      padding: 40px 20px;
    }

    .cd-fixed-bg {
      min-height: 100%;
      background-size: cover;
      background-attachment: inherit;
      background-repeat: no-repeat;
      background-position: center;
    }

    .cd-fixed-bg.cd-bg-1 {
      background-image: url("../images/lets-chat.jpg");
    }

    .cd-bg-1 .cd-container {
      padding: 60% 20px;
    }
      .cd-bg-2 {
          width: 100%;
      }

    .banner-2 {
      font-size: 14px;
    }

    .banner-2 .banner-title {
      font-size: 30px;
    }

    .banner-2 .banner-btn a {
      font-size: 20px;
      width: 170px;
      padding: 0;
      text-align: center;
    }  
      .cd-fixed-bg.cd-bg-3 {
          background: #ffffff;
      }




    /* banner */

    .banner {
      background: url(../images/banner/bannerMobile.jpg) repeat-x top center;
      text-align: center;
      height: 480px;
      margin-top: 30px;
    }

    .banner:after {
      content: '';
      display: block;
      padding: 13%;
    }

    .banner .banner-title {
      font-size: 40px;
      margin: 0 auto;
      padding-top: 80px;
    }
    .banner .banner-btn {
      height: 40px;
      width: 170px;
    }

    .banner .banner-btn a {
      font-size: 20px;
      display: block;
      width: 100%;
      height: 40px;
      line-height: 35px;
      padding: 0;
      margin: 0 auto;
      vertical-align: middle;
    }

    .banner .banner-btn .overview {
      margin-top: 20px;
    }

    .banner .banner-title p:first-child {
      margin-bottom: 0;
    }
    .banner .banner-title span {
      font-size: 40px;
    }
    .banner .banner-title p.banner-text {
      display: none;
    }

    .banner .banner-title p.banner-text-grid {
      display: block;
      line-height: 40px;
      padding: 10px 0;
    }

    .banner .banner_footer_icon {
      padding-top: 30px;
    }

    .banner .banner_footer_icon ul li {
      display: inline-block;
      width: 50px;
      height: 50px;
      margin-right: 20px;
    }


      .divide-banner {
          width: 100%;
          height: 75px;
      }
      .divide-banner .divide-banner-container {
          height: 100%;
      }
      .divide-banner .divide-banner-container .row {
          height: 100%;
      }
      .divide-banner .divide-banner-container .divide-banner-div {
          height: 75px;
          position: relative;
          margin: 0 auto;
      }
      .divide-banner .divide-banner-container .divide-banner-div img {
          position: absolute;
          top: -25%;
          left: 0;
      }



    #about .about-img {
      display: none;
    }

    #about .text {
      font-size: 16px;
    }

    /* block chain */
    #block {
      width: 100%;
      overflow: hidden;
    }

    #block .block-chain {
      background: url('../images/block-chain-mobile.png') no-repeat top center;
      background-size: 100% auto;
    }

    #block .block-chain:after {
      padding: 72%;
    }

    /* team */
    #team .team-img {
      min-width: 305px;
      min-height: 305px;
    }

    #team .col-md-11 {
      text-align: center;
    }

    #team .team-item {
      padding: 0;
    }

    #team .name {
      margin-top: 16px;
      padding-left: 40px;
    }

    #team .item {
      margin-bottom: 30px;
      padding: 0 30px;
    }

    #team .row .introduce {
      text-align: left;
      font-size: 14px;
    }

    /* advisor */

    #advisor .advisor-img {
      width: 100%;
    }

    #advisor .name {
      font-size: 20px;
    }

    #advisor .link-img {
      margin-left: 4px;
    }

    #advisor .team-inner {
      margin: 20px 0;
    }

    #advisor .position {
      font-size: 18px;
    }

    .position {
      margin-bottom: 10px;
      font-size: 22px;
    }



      .networks {
          padding: 40px 0 0 0;
          margin: 0 0;
      }

      .networks .title {
          height: 100%;
      }
      .networks .title h3 {
          font-size: 32px;
          color: #e84140;
          transform: rotate(0deg);
          padding-left: 20px;
          border-left: none;
          line-height: 37px;
          position: relative;
          top: 0;
          left: 0;
          display: inline-block;
      }

      .networks .icon-content {
        padding-left: 0;
      }
      .networks p {
          font-family: myFont;
          font-size: 14px;
          text-align: center;
          height: 43px;
          display: block;
          width: 90%;
      }
      .networks .iconMobil {
          padding: 0;
      }
      .networks .iconMobil ul {
          padding-left: 30px;
      }
      .networks .iconMobil ul li {
          height: 100%;
          width: 40%;
          display: inline-block;
          margin: 20px 10px;
          padding: 0;
          vertical-align: middle;
          text-align: center;
      }
      .networks .iconMobil ul li img {
          max-width: 60%;
          vertical-align: middle;
      }




    /* media */
    #media .media-title {
      font-size: 16px;
      line-height: 40px;
    }

    #media .media-item {
      clear: both;
      width: 100%;
      margin-bottom: 20px;
    }

    #media .media-img {
      width: 100%;
      height: 100%;
    }

    #media .media-logo .logo-img {
      width: 50px;
    }

    /* footer */
    .footer-logo {
      width: 220px;
    }

    .footer p {
      margin: 20px 0 40px;
    }

    .footer .download {
      font-size: 20px;
      width: 330px;
    }
  }


  @media only screen and (min-width: 768px) and (max-width: 980px) {
    .head {
      padding: 0 20px;
    }

    .head li {
      margin: 0 10px;
    }

    .rotate-title {
      display: none;
    }

    .index-title {
      display: block;
      font-size: 38px;
      color: #FC3D39;
      margin-bottom: 30px;
    }

    /*our team*/
    #team > .row .col-md-11 .infor {
      padding-left: 50px;
    }

    #team .team-inner .introduce {
      font-size: 16px;
    }

    #media .media-title {
      line-height: 30px;
    }

      .networks .title h3 {
          font-size: 32px;
          color: #e84140;
          transform: rotate(0deg);
          padding-left: 20px;
          border-left: none;
          line-height: 37px;
          position: relative;
          top: -10px;
          left: 0;
          display: inline-block;
      }
  }


  @media only screen and (min-width: 992px) and (max-width: 1170px) {

    /*our team*/
    #team > .row .col-md-4 {
      padding: 0 5px;
    }

    #team > .row .col-md-8 {
      padding: 0 0 0 50px;
    }

    /*advisor*/
    #advisor > .row .col-md-11 .col-md-3 {
      margin: 0 30px;
    }
  }

  @media only screen and (min-width: 1170px) {
    /*our team*/
    #team > .row .infor {
      padding: 0 0 0 50px;
    }
  }

    @media screen and (max-width: 768px) {
        .video .container {
            width: 100%;
        }
        .video .container video {
            display: block;
            margin: 0 auto;
            width: 100%;
        }

    }
