/* 需要在 bootstrap.css 之后调用 */
/* 15px for iPhone Start */
.row{margin:0;}
.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{padding:0;}
/* 15px for iPhone Over */

body,
html,
main {
    font-family: myFont;
    height: 100%;
    margin: 0;
    padding: 0;
}
ul,li {
	list-style: none;
}
@font-face {
    font-family: myFont;
    src: url('../fonts/Futura-Book.otf');
}

@font-face {
    font-family: myFontL;
    src: url('../fonts/Futura-Light.otf');
}

@font-face {
    font-family: myFontB;
    src: url('../fonts/BebasNeue.ttf');
}


/* scrolling-bg */

.cd-fixed-bg {
    min-height: auto;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

.cd-fixed-bg.cd-bg-1 {
    background-image: url("../images/lets-chat-pc.jpg");
    height: 500px;
}

.cd-color-1 {
    background-color: #fff;
}

.cd-color-2 {
    background-color: #fff;
}

.cd-fixed-bg.cd-bg-2 {
    background-color: #fff;
}

.cd-color-3 {
    background-color: #000;
}

.cd-fixed-bg.cd-bg-3 {
    background-image: url("../images/advisor0716.jpg");
}


.puplic-title {
    font-size: 32px;
    color: #FC3D39;
    margin-bottom: 30px;
    border-left: 4px solid #FC3D39;
    padding: 0 20px;
}

.puplic-text {
    font-size: 24px;
}


/* head */

.clearfloat {
    clear: both;
}

/*main {*/
  /*position: relative;*/
/*}*/

.head {
    height: 80px;
    width: 100%;
    z-index: 999;
    padding: 0 50px;
    border: none;
    position: fixed;
    top: 0;
    left: 0;
}


.head .nav {
    margin: 0 auto;
    text-align: center;
}

.head ul {
    margin: 0;
    padding: 0;
}

.head li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 14px;
}

.head a {
    text-decoration: none;
    color: #fff;
    line-height: 80px;
    cursor: pointer;
}

.head li a:hover {
    color: #FC3D39;
}

.head li a:hover .header-img {
    content: url('../images/icon/plan-red.png');
}

.head .logo-img {
    float: left;
    height: 47px;
    margin-top: 16px;
}

.head .plane {
    float: right;
}

.head .header-img {
    width: 32px;
}


/* 公告 */

.board .board-content {
    background-color: #FC3D39;
    color: #fff;
    padding: 0 100px;
}

.board .board-title {
    font-size: 22px;
    display: inline-block;
    line-height: 90px;
    margin-right: 140px;
}

.board .board-text {
    font-size: 16px;
    display: inline-block;
}

.board .board-btn {
    font-size: 16px;
    display: inline-block;
    background-color: #fff;
    color: #FC3D39;
    float: right;
    line-height: 40px;
    padding: 0 20px;
    margin-top: 25px;
}

.board .board-btn .btn-icon {
    width: 25px;
    margin-left: 15px;
    margin-top: -5px;
}


.head-grid {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

.head-grid a {
    color: #000;
}

.head-grid .navbtn {
    padding: 20px 20px 40px;
}

.head-grid .logo img {
    float: left;
    width: 90px;
}

.head-grid .menu img {
    float: right;
    width: 32px;
}

.head-grid .headerFr {
    margin-top: 8px;
    font-size: 16px;
    height: 0px;
    overflow: hidden;
}

.head-grid .headerFr ul {
    line-height: 40px;
}

.head-grid .headerFr ul li {
    display: block;
}

.head-grid .headerFr ul li a {
    font-size: 16px;
    display: inline-block;
    padding: 0 30px;
    text-decoration: none;
}

.head-grid .headerFr ul li a:hover,
.header .navProduct a:hover {
    color: #FC3D39;
}

.head-grid .header-img {
    width: 35px;
}









/* banner */

.banner {
    background: url('../images/banner/banner0718.jpg')  no-repeat top center;
    background-size: cover;
    text-align: center;
    position: relative;
    width: 100%;
    height: 1350px;
}

.banner:after {
    content: '';
    display: block;
    padding: 6.8%;
}

.banner .banner-title {
    color: #fff;
    font-size: 70px;
    padding-top: 176px;
    font-family: myFontB;
}

.banner .banner-title p {
    font-size: 14px;
    font-family: myFont;
    font-weight: bold;
    padding: 10px 0;
}
.banner .banner-title span {
	letter-spacing:12px;
}

.banner .banner-title p.banner-text-grid {
    display: none;
}

.banner .banner-btn a {
    color: #FC3D39;
    background-color: #fff;
    font-size: 20px;
    line-height: 48px;
    text-decoration: none;
    display: inline-block;
    border: 4px solid #fff;
    margin-top: 68px;
    padding: 0 50px;
    width: 222px;
}

.banner .banner-btn {
    display: inline-block;
    margin: 0 10px;
}

.banner .banner-btn a:hover {
    color: #fff;
    border: 4px solid #FC3D39;
    background-color: #FC3D39;
}


.banner .banner_footer_icon {
	background-color: transparent;
	padding-top: 65px;
}
.banner .banner_footer_icon .container {
	margin: 0 auto;
}
.banner .banner_footer_icon ul {
	height: 70px;
	text-align: center;
  	margin: 0 auto;
  	padding-left: 50px;
}
.banner .banner_footer_icon ul li {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-right: 40px;
}
.banner .banner_footer_icon ul li a img {
	display: block;
	width: 40px;
	height: 40px;
  transition: all 1s;
}
.banner .banner_footer_icon ul li:hover a img {
    transform: scale(1.4);
}


/*  隔行的banner */

.scroll-banner1 {
    height: 180px;
    background-image: url("../images/banner/divide-banner1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

.scroll-banner2 {
    height: 180px;
    background-image: url("../images/banner/divide-banner2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}
.scroll-banner3 {
    height: 180px;
    background-image: url("../images/banner/divide-banner3.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}
.scroll-banner4 {
    height: 180px;
    background-image: url("../images/banner/divide-banner4.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}
.scroll-banner5 {
    height: 180px;
    background-image: url("../images/banner/divide-banner5.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}






/* 视频video */

.banner .video {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 65%;
    left: 0;
    z-index: 99;
}

.video .container .pc-video {
    height: 100%;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -350px;
    z-index: 999;

}
.banner .video h3 {
    color: #fff;
    font-size: 32px;
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -150px;
}
.banner .video .line {
    display: block;
    border-top: 4px solid #fff;
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    z-index: 1;
}

/*  youtube */
.video .container .ytb-video {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    margin-left: -350px;
    margin-top: -170px;
}


.cd-bg-1 .cd-container {
    display: flex;
    padding: 100px 100px;
    height: 100%;
}

.banner-2 .banner-title {
    color: #fff;
    font-size: 70px;
    font-family: myFontB;
}

.banner-2 .banner-title p {
    font-size: 16px;
    font-family: myFont;
    font-weight: bold;
    padding-bottom: 50px;
}

.banner-2 .banner-btn a {
    color: #FC3D39;
    background-color: #fff;
    font-size: 20px;
    line-height: 48px;
    text-decoration: none;
    display: inline-block;
    border: 4px solid #fff;
    margin-top: 50px;
    padding: 0 50px;
    width: 222px;
}
.banner-2 .banner-btn .know-price {
    display: inline-block;
    width: 330px;
    height: 56px;
    line-height: 48px;
    margin-left: 30px;
    text-align: center;
    cursor: pointer;
}

.banner-2 .banner-btn a:hover {
    color: #fff;
    border: 4px solid #FC3D39;
    background-color: #FC3D39;
}




/* 食品供应模块 */

.food-supply {
    width: 100%;
    height: 540px;
    margin: 30px auto;
}
.food-supply .container {
    height: 585px;
    width: 100%;
    margin: 0;
    padding: 0 100px;
}
.food-supply .title {
    width: 100%;
    margin-bottom: 40px;
    border-left: 4px solid #e84140;
}
.food-supply .title h3 {
    font-size: 42px;
    font-family: myFont;
    color: #e84140;
    padding-left: 20px;
}
.food-supply .food-supply-content {
    height: 100%;
    width: 100%;
    position: relative;
}
.food-supply .food-supply-content .des {
    font-size: 20px;
    font-family: myFont;
    color: #000;
}
.food-supply .food-supply-content .content-left {
    width: 50%;
    margin-top: 20px;
    padding-left: 0;
}

.food-supply .food-supply-content .content-left .content-row {
    width: 100%;
    margin-bottom: 40px;
    position: relative;
}
.food-supply .food-supply-content .content-left .content-row img {
    display: block;
    max-width: 9%;
    position: absolute;
    top: 10px;
    left: 0;
}
.food-supply .food-supply-content .content-left .content-row h5 {
    display: inline-block;
    font-family: myFont;
    font-size: 18px;
    padding-left: 68px;
}
.food-supply .food-supply-content .content-left .content-row p {
    margin-left: 68px;
    font-size: 14px;
    font-family: myFont;
    color: #a1a1a1;
}
.food-supply .food-supply-content .content-right {
    /*float: right;*/
    width: 50%;
    height: 100%;
    padding-left: 100px;
    position: absolute;
    top: 0;
    right: 0;
}
.food-supply .food-supply-content .content-right img {
    /*max-width: 90%;*/
    max-width: 80%;
}


/*  what is dropchain模块 */
.dropchain-explain {
    height: 550px;
    margin: 20px auto;
}
.dropchain-explain .container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0 100px;
}
.dropchain-explain .container .title {
    border-left: 4px solid #e84140;
}
.dropchain-explain .title h3 {
    font-size: 42px;
    font-family: myFont;
    color: #e84140;
    padding-left: 20px;
}

.dropchain-explain .dropchain-content {
    height: 100%;
    padding-top: 40px;
    padding-bottom: 50px;
}

.dropchain-explain .dropchain-content .content-left {
    width: 50%;
    padding: 0 90px 0 0;
}

.dropchain-explain .dropchain-content .content-left img {
    max-width: 80%;
}
.dropchain-explain .dropchain-content .content-right {
    width: 50%;
    padding: 0 50px;
}
.dropchain-explain .dropchain-content .content-right .about h4,
.dropchain-explain .dropchain-content .content-right .solutions h4 {
    font-size: 18px;
    font-family: myFont;
    margin-bottom: 12px;
}
.dropchain-explain .dropchain-content .content-right .about p {
    color: #a1a1a1;
    font-size: 14px;
}
.dropchain-explain .dropchain-content .content-right .solutions {
    margin-top: 40px;
}
.dropchain-explain .dropchain-content .content-right .solutions span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #e84140;
    margin-right: 10px;
}
.dropchain-explain .dropchain-content .content-right .solutions p {
    color: #a1a1a1;
    font-size: 14px;
}


    /* about */

.rotate-title {
    color: #FC3D39;
    border-left: 4px solid #FC3D39;
    font-size: 42px;
    padding: 0 20px;
    transform: rotate(90deg);
    display: inline-block;
    line-height: 37px;
    position: relative;
    top: 150px;
    left: -152px;
    width: 380px;
}

.how-work {
    color: #FC3D39;
    border-left: 4px solid #FC3D39;
    font-size: 42px;
    padding: 0 20px;
    transform: rotate(90deg);
    display: inline-block;
    line-height: 37px;
    position: relative;
    top: 150px;
    left: -205px;
    width: 380px;
}

.index-title {
    display: none;
}




/* block chain */

#block {
    padding: 50px 100px;
}

#block .block-chain {
    background: url('../images/block-chain.png') no-repeat top center;
    background-size: 100% auto;
}

#block .block-chain:after {
    content: '';
    display: block;
    padding: 27.2%;
}



/* team */

#team {
    padding: 50px 100px;
    background-color: #fff;
}

#team .team-img {
    width: 190px;
    height: 100%;
    object-fit: cover;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}
#team .team-img:hover {
	-webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
}
/*#team .james-box {*/
    /*height: 190px;*/
/*}*/
.james-img {
    max-height:100%;
    width: 190px;
    object-fit: cover;
    object-position: top;
}

.link-img {
    width: 24px;
    margin-left: 16px;
}

.item {
    margin-bottom: 70px;
    font-size: 12px;
    height: 220px;
    padding-right: 10px;
}
.item:nth-child(even) {
    padding-right: 0;
}
.item .row {
    height: 100%;
}
.item .item-img {
    height: 100%;
}
.team-item {
    position: relative;
    padding-bottom: 20px;
    color: #000;
}
#team > .row .infor {
    padding: 0 0 0 40px;
}

.name {
    font-size: 22px;
    font-family: myFontB;
}

.position {
    margin-bottom: 16px;
    font-family: myFontB;
    font-size: 18px;
}

.row .introduce {
    font-family: myFont;
    height: 100px;
    font-size: 14px;
}





/* advisor */

#advisor {
    padding: 50px 100px 0;
}

#advisor .advisor-img {
    width: 215px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
#advisor .advisor-img:hover {
	-webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
}

#advisor .team-inner {
    margin: 20px 0 50px;
}

#advisor .introduce {
    height: 50px;
}



/*  NETWORKS PC */


.networks-container {
    height: 500px;
    /*background: pink;*/
    position: relative;
    padding: 0 100px;
    margin: 0;
    width: 100%;
}
.networks-container .networks-left {
    position: absolute;
    top: 50px;
    left: 75px;
    width: 10%;
}
.networks-container .networks-left h3 {
    color: #FC3D39;
    font-size: 42px;
    transform: rotate(90deg);
    border-left: 4px solid #FC3D39;
    padding-left: 20px;
}
.networks-container .networks-right {
    height: 100%;
    padding: 50px 0 0;
}
.networks-container .networks-right .networks-right-head {
    width: 70%;
    margin: 10px 220px;
}
.networks-container .networks-right .networks-right-head p {
    font-family: myFont;
    font-size: 18px;
}
.networks-container .networks-right .networks-right-body {
    height: 100%;
    text-align: center;
}
.networks-container .networks-right .networks-right-body ul {
    height: 100%;
    font-size: 0;
    margin-left: 30px;
    padding-left: 0;
}
.networks-container .networks-right .networks-right-body ul li {
    display: inline-block;
    width: 16.66667%;
    vertical-align: middle;
    padding-left: 60px;
    margin: 30px auto;
}
.networks-container .networks-right .networks-right-body ul li:nth-child(13) {
    float: left;
}
.networks-container .networks-right .networks-right-body ul li:nth-child(14) {
    float: left;
}
.networks-container .networks-right .networks-right-body ul li:nth-child(5) img {
    display: block;
    max-width: 70%;
}
.networks-container .networks-right .networks-right-body ul li:nth-child(6) img {
    display: block;
    max-width: 70%;
}
.networks-container .networks-right .networks-right-body ul li:last-child img {
    display: block;
    max-width: 70%;
}
.networks-container .networks-right .networks-right-body ul li img {
    display: block;
    max-width: 100%;
}



.swiper-container {
    width: 100%;
    height: 450px;
    margin: 40px 0;
}
.swiper-container .swiper-wrapper .swiper-slide {
    position: relative;
}
.swiper-container .swiper-wrapper .swiper-slide img {
    max-height: 100%;
    object-fit: cover;
    width: 100%;
}
.swiper-container .swiper-wrapper .swiper-slide .title {
    position: absolute;
    bottom: 50px;
    left: 50%;
    color: #fff;
    margin-left: -185px;
    font-size: 16px;
}



/* footer */
.footer {
    padding: 50px 0;
    text-align: center;
    background: url("../images/footer-banner0716.jpg") no-repeat center;
    color: #fff;
}

.footer-logo {
    width: 253px;
}
.email-input {
    height: 100px;
    margin-top: 30px;
    background: transparent;
    position: relative;
}
.email-input-content {
    display: block;
    height: 60px;
    line-height: 60px;
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    border: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding-left: 30px;
    font-size: 16px;
    outline: none;
    color: #000;
}
.update-email {
    position: absolute;
    top: 5px;
    right: 25.5%;
    width: 18%;
    height: 50px;
    line-height: 50px;
    background-color: #e84140;
    text-align: center;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
}
.update-email:hover,
.update-email:focus{
    text-decoration: none;
    color: #fff;
}

.footer .icon {
    /*margin-top: 50px;*/
}

.footer .other-img {
    width: 50px;
    margin: 0 20px;
    transition: all 1s;
}
.footer .icon a:hover .other-img {
    transform: scale(1.4);
}




/* 头部模态框 */

.modal-open {
  overflow: hidden
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%)
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0)
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px
}

.modal-content {
  position: relative;
  background-color: transparent;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
}
.modal-content .modal-body p {
    margin-bottom: 25px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000
}

.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0
}

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .8
}

.modal-header {
  min-height: 16.43px;
  padding: 60px 15px 15px;
  border-bottom: none;
}

.modal-header .close {
  margin-top: -2px;
  opacity: 1;
  background: transparent;
}
.modal-header .close .icon_close {
  display: block;
  width: 40px;
  height: 40px;
  background: url("../images/icon/close.png") no-repeat center;
  background-size: cover;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
  font-size: 48px;
  font-family: myFontB;
  color: #fff;
    letter-spacing: 5px;
}

.modal-body {
  position: relative;
  padding: 10px 0;
}

.modal-footer {
  padding: 15px;
  text-align: center;
  border-top: none;
}

.modal-footer .btn-primary {
    background-color: #e84140;
    border-color: #b42322;
}
.modal-footer .btn-primary:hover {
    background-color: #cc3231;
    border-color: #cc3231;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll
}


.modal-dialog {
width: 800px;
margin: 30px auto
}

.modal-sm {
width: 300px
}



.modal-lg {
width: 900px
}



/*  底部模态框 */
#footerModal .modal-content {
    width: 300px;
    background-color: #fff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: #000;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    top: 200px;
}










/* 响应式 移动端设备*/

@media only screen and (min-width: 375px) and (max-width: 768px) {
    /* 移动端模态框 */
    #myModal {
        width: 100%;
    }
    #myModal .modal-dialog {
        width: 100%;
    }
    #myModal .modal-dialog .modal-content {
        width: 100%;
        padding: 0 10px;
    }
    #myModal .modal-dialog .modal-content .modal-header h4 {
        font-size: 32px;
        letter-spacing: 2px;
    }
    #myModal .modal-dialog .modal-content .modal-body p {
        font-size: 12px;
    }

    .rotate-title,
    .puplic-title {
      display: none;
    }

    .puplic-text {
      font-size: 16px;
    }

    .index-title {
      display: block;
      font-size: 32px;
      color: #FC3D39;
      margin-bottom: 30px;
        margin-left: 20px;
    }
    html,
    body,
    main {
      width: 100%;
        position: relative;
    }

    .head {
      display: none;
    }


    .head-grid {
      display: block;
      background: #fff;
      overflow: hidden;
      width: 100%;
    }

    .head-grid .navbtn .logo {
      height: 100%;
      width: 100%;
    }

    .head-grid .headerFr {
      border-bottom: 1px solid #e4e4e4;
    }



    .video-mobile {
      width: 100%;
    }
    .video-mobile .container {
      height: 100%;
      width: 100%;
      padding: 0;
    }
    .video-mobile .container video {
      display: block;
      margin: 0 auto;
      width: 100%;
      height: 100%;
      position: static;
    }

    .ytb-video-container-mb {
        overflow: hidden;
        width: 100%;
        height: 220px;
    }
    .ytb-video-mb {
        width: 100%;
        height: 100%;
        position: relative;
        display: block;
        z-index: auto;
    }



    #block,
    #team{
      padding: 40px 20px;
    }
    #advisor {
        padding: 40px 20px 10px;
    }

    .cd-fixed-bg.cd-bg-1{
      background-image: url("../images/lets-chat-mobil.jpg");
      height: 480px;
      min-height: auto;
      background-size: cover;
      background-attachment: scroll;
      background-repeat: no-repeat;
      background-position: top center;
    }

    .cd-bg-1 .cd-container {
        height: 100%;
        padding: 100px 20px;
    }
      .cd-bg-2 {
          width: 100%;
      }

    .banner-2 {
      font-size: 14px;
    }

    .banner-2 .banner-title {
      font-size: 30px;
    }

    .banner-2 .banner-btn a {
      font-size: 20px;
      width: 170px;
      padding: 0;
      text-align: center;
    }
      .cd-fixed-bg.cd-bg-3 {
          background: #ffffff;
      }
    .banner-2 .banner-btn .know-price{
        margin-top: 30px;
        margin-left: 0;
        width: 250px;
    }



    /* banner */

    .banner {
      background: url(../images/banner/bannerMobile.jpg) repeat-x top center;
      text-align: center;
      height: 480px;
      /*margin-top: 30px;*/
        width: 100%;
    }

    .banner:after {
      content: '';
      display: block;
      padding: 13%;
    }

    .banner .banner-title {
      font-size: 40px;
      margin: 0 auto;
      padding-top: 80px;
    }
    .banner .banner-btn {
      height: 40px;
      width: 170px;
    }

    .banner .banner-btn a {
      font-size: 20px;
      display: block;
      width: 100%;
      height: 40px;
      line-height: 35px;
      padding: 0;
      margin: 0 auto;
      vertical-align: middle;
    }

    .banner .banner-btn .overview {
      margin-top: 20px;
    }

    .banner .banner-title p:first-child {
      margin-bottom: 0;
    }
    .banner .banner-title span {
      font-size: 40px;
    }
    .banner .banner-title p.banner-text {
      display: none;
    }

    .banner .banner-title p.banner-text-grid {
      display: block;
      line-height: 40px;
      padding: 10px 0;
    }

    .banner .banner_footer_icon {
      padding-top: 30px;
    }

    .banner .banner_footer_icon .container {
        padding: 0;
    }

    .banner .banner_footer_icon ul {
        height: 70px;
        text-align: center;
        margin: 0 auto;
        padding-left: 0;
    }

    .banner .banner_footer_icon ul li {
      display: inline-block;
      width: 50px;
      height: 50px;
      margin-right: 20px;
    }
    .banner .banner_footer_icon ul li:last-child {
        margin-right: 0;
    }

    .banner .banner_footer_icon ul li {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-right: 25px;
    }

    .banner .banner_footer_icon ul li a img {
        display: block;
        width: 30px;
        height: 30px;
        transition: all 1s;
    }




    /* 移动端滚动banner */
    .scroll-banner1 {
        height: 75px;
        background-size: cover;
        background-attachment: inherit;
    }
    .scroll-banner2 {
      height: 75px;
      background-size: cover;
      background-attachment: inherit;
      background-position: 0% 25%;
    }
    .scroll-banner3 {
      height: 75px;
      background-size: cover;
      background-attachment: inherit;
    }
    .scroll-banner4 {
      height: 75px;
      background-size: cover;
      background-attachment: inherit;
    }
    .scroll-banner5 {
      height: 75px;
      background-size: cover;
      background-attachment: inherit;
    }





    /* 食品供应模块 */

    .food-supply {
      width: 100%;
      height: 800px;
      margin: 0;
    }
    .food-supply .container {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0 15px;
    }
    .food-supply .title {
        border-left: none;
      margin-top: 40px;
      margin-bottom: 30px;
    }
    .food-supply .title h3 {
      font-size: 32px;
      font-family: myFont;
      color: #e84140;
      margin: 0;
        padding-left: 0;
    }
    .food-supply .food-supply-content {
      height: 100%;
      padding-left: 0;
    }
    .food-supply .food-supply-content .des {
      font-size: 16px;
      font-family: myFont;
      color: #000;
    }
    .food-supply .food-supply-content .des p {
      margin-bottom: 0;
    }
    .food-supply .food-supply-content .content-left {
      width: 100%;
      margin-top: 20px;
    }

    .food-supply .food-supply-content .content-left .content-row {
      width: 100%;
      margin-bottom: 16px;
    }
    .food-supply .food-supply-content .content-left .content-row img {
      max-width: 10%;
    }
    .food-supply .food-supply-content .content-left .content-row h5 {
      display: inline;
      font-family: myFont;
      font-size: 14px;
      margin-left: 0;
      width: 100%;
        padding-left: 50px;
    }
    .food-supply .food-supply-content .content-left .content-row p {
      margin-top: 5px;
      margin-left: 0;
        padding-left: 50px;
      font-size: 14px;
      font-family: myFont;
      color: #a1a1a1;
    }
    .food-supply .food-supply-content .content-right {
      width: 100%;
      height: 50%;
      padding-left: 0;
      padding-top: 15px;
      position: static;
      clear: left;

    }
    .food-supply .food-supply-content .content-right img {
      display: block;
      margin: 0 auto;
      max-width: 80%;
    }


    /*  what is dropchain模块 */
    .dropchain-explain {
      height: 750px;
      margin: 0 auto;
    }
    .dropchain-explain .container {
        padding: 0 15px;
    }
    .dropchain-explain .container .title {
      margin-left: 0;
      width: 100%;
        margin-top: 40px;
        margin-bottom: 30px;
        border-left: none;
    }
    .dropchain-explain .container .title h3 {
      font-size: 32px;
      font-family: myFont;
      color: #e84140;
      margin: 0;
        padding-left: 0;
    }

    .dropchain-explain .dropchain-content {
      height: 100%;
      width: 100%;
      padding-top: 0;
      padding-bottom: 0;
    }

    .dropchain-explain .dropchain-content .content-right {
      width: 100%;
      padding: 0;
    }
    .dropchain-explain .dropchain-content .content-right .about h4,
    .dropchain-explain .dropchain-content .content-right .solutions h4 {
      font-size: 16px;
      font-family: myFont;
      margin: 0;
      padding-bottom: 6px;
    }
    .dropchain-explain .dropchain-content .content-right .about p {
      color: #a1a1a1;
      font-size: 14px;
      margin-bottom: 20px;
    }
    .dropchain-explain .dropchain-content .content-right .about p:last-child {
      margin-bottom: 0;
    }
    .dropchain-explain .dropchain-content .content-right .solutions {
      margin-top: 20px;
    }
    .dropchain-explain .dropchain-content .content-right .solutions span {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #e84140;
      margin-right: 10px;
    }
    .dropchain-explain .dropchain-content .content-right .solutions p {
      color: #a1a1a1;
      font-size: 14px;
      margin-bottom: 0;
      line-height: 20px;
    }

    .dropchain-explain .dropchain-content .content-left {
      float: left;
      width: 100%;
      padding: 0;
      margin-top: 30px;
    }

    .dropchain-explain .dropchain-content .content-left img {
      max-width: 80%;
      display: block;
      margin: 0 auto;
    }




    /* block chain */
    #block {
      width: 100%;
      overflow: hidden;
    }

    #block .block-chain {
      background: url('../images/block-chain-mobile.png') no-repeat top center;
      background-size: 100% auto;
    }

    #block .block-chain:after {
      padding: 72%;
    }




    /* 移动端team */
    #team .team-img {
      width: 305px;
      height: 305px;
    }

    #team .col-md-11 {
      text-align: center;
    }

    #team .item {
        margin-bottom: 24px;
        padding: 0;
        height: 100%;
    }

    #team .item .infor {
        height: 100%;
        padding: 0 15px;
    }

    #team .item .infor .team-item {
        height: 100%;
      padding: 0;
    }

    #team .item .infor .team-item .position {
        text-align: center;
        padding-left: -10px;
    }

    #team .item .infor .team-item .name {
      margin-top: 16px;
        padding-left: 10px;
    }

    #team .item .infor .team-item .introduce {
      text-align: left;
      font-size: 14px;
        height: 100%;
    }
    #team .billy-desc {
        height: 130px;
    }
    #team .james-box {
        height: 100%;
    }
    #team .anja-desc {
        height: 130px;
    }
    #team .james-desc {
        height: 150px;
    }




    /* 移动端advisor */
    #advisor {
      padding-left: 0;
      padding-right: 0;
    }
    #advisor .advisor-row-space {
        padding: 0 10px;
    }
    #advisor .advisor-img {
      width: 100%;
    }

    #advisor .name {
      font-size: 20px;
    }

    #advisor .link-img {
        margin-left: 16px;
    }

    #advisor .team-inner {
      margin: 10px 0;
    }

    #advisor .position {
      font-size: 18px;
    }

    .position {
      margin-bottom: 10px;
      font-size: 22px;
    }



    /* 移动端NETWORKS */
    .networks-container {
      height: 750px;
      /*background: pink;*/
      position: relative;
      padding: 0;
      width: 100%;
    }
    .networks-container .networks-left {
      position: absolute;
      top: 20px;
      left: 10px;
    }
    .networks-container .networks-left h3 {
      color: #e84140;
      font-size: 32px;
      transform: rotate(0deg);
      border-left: none;
      padding-left: 20px;
    }
    .networks-container .networks-right {
      height: 100%;
      padding: 40px 0 0 0;
    }
    .networks-container .networks-right .networks-right-head {
      width: 70%;
      margin: 10px 220px;
    }
    .networks-container .networks-right .networks-right-head p {
      font-family: myFont;
      font-size: 18px;
    }
    .networks-container .networks-right .networks-right-body {
      height: 100%;
      text-align: center;
        padding: 0 20px;
    }
    .networks-container .networks-right .networks-right-body ul {
      height: 100%;
      padding: 30px 0;
      font-size: 0;
        margin-left: 0;
    }
    .networks-container .networks-right .networks-right-body ul li {
      width: 50%;
      vertical-align: middle;
      padding: 20px 30px;
      margin: 0 auto;
    }
    .networks-container .networks-right .networks-right-body ul li:last-child {
      /*float: left;*/
    }
    .networks-container .networks-right .networks-right-body ul li:last-child img {
        display: block;
        max-width: 67%;
    }
    .networks-container .networks-right .networks-right-body ul li img {
      display: block;
      max-width: 100%;
    }




      /* 移动端media */

    .swiper-container {
        width: 100%;
        height: 300px;
        margin-top: 20px;
        margin-bottom: 0;
    }
    .swiper-container .swiper-wrapper .swiper-slide img {
        max-height: 100%;
        object-fit: cover;
        width: 100%;
    }
    .swiper-container .swiper-wrapper .swiper-slide .title {
        display: none;
    }
    .swiper-container .swiper-pagination {
        bottom: 30px;
    }





        /* footer */
    .footer-logo {
      width: 220px;
    }

    .footer p {
      margin: 20px 0 40px;
    }

    .footer .download {
      font-size: 20px;
      width: 330px;
    }

    .footer .icon {
        margin-top: 50px;
    }

    .footer a {
        display: inline-block;
        width: 30px;
        margin: 0 12px;
    }

    .footer .other-img {
        width: 30px;
        margin: 0;
    }

    .footer .email-input {
        height: 100px;
        padding-top: 50px;
        margin-top: 0;
        background: transparent;
        position: relative;
    }
    .footer .email-input-content {
        display: block;
        height: 40px;
        line-height: 40px;
        width: 90%;
        margin: 0 auto;
        background-color: #fff;
        border: none;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        border-radius: 40px;
        padding-left: 30px;
        font-size: 12px;
        color: #000;
        outline: none;
    }
    .footer .update-email {
        position: absolute;
        top: 54px;
        right: 4%;
        width: 40%;
        height: 32px;
        line-height: 32px;
        background-color: #e84140;
        text-align: center;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        font-size: 12px;
        color: #fff;
        letter-spacing: 0;
        text-decoration: none;
    }
    .footer .update-email:hover,
    .footer .update-email:focus{
        text-decoration: none;
        color: #fff;
    }
    #footerModal .modal-content {
        width: 200px;
        background-color: #fff;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        color: #000;
        font-size: 16px;
        text-align: center;
        margin: 0;
        top: 300px;
        left: 100px;
    }



}


@media only screen and (min-width: 768px) and (max-width: 992px) {
    .head {
      padding: 0 20px;
    }

    .head li {
      margin: 0 10px;
    }

    .rotate-title {
      display: none;
    }

    .index-title {
      display: block;
      font-size: 38px;
      color: #FC3D39;
      margin-bottom: 30px;
    }

    /*our team*/
    #team > .row .col-md-11 .infor {
      padding-left: 50px;
    }

    #team .team-inner .introduce {
      font-size: 16px;
    }

    /*#media .media-title {*/
      /*line-height: 30px;*/
    /*}*/

    .networks .title h3 {
      font-size: 32px;
      color: #e84140;
      transform: rotate(0deg);
      padding-left: 20px;
      border-left: none;
      line-height: 37px;
      position: relative;
      top: -10px;
      left: 0;
      display: inline-block;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1170px) {
    /*our team*/
    #team > .row .col-md-4 {
      padding: 0 5px;
    }

    #team > .row .col-md-8 {
      padding: 0 0 0 50px;
    }

    /*advisor*/
    #advisor > .row .col-md-11 .col-md-3 {
      margin: 0 30px;
    }
}

















